.app {
  width: 30rem;
  margin: auto;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  color: #000;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  border: 5px solid #000;
  border-radius: 0.75rem;
  line-height: 30rem;
}
